// Хэдер свайпера
.swiper-header {
  min-width: 320px;
  max-height: 80px;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  margin-bottom: 16px;
  margin-top: 24px;

  &__line {
    background-color: #d9fff5;
    width: 100%;
    height: 2px;
  }

  &__inner {
    padding: 16px 0px;
  }

  &__text {
    text-transform: uppercase;
    color: #7e7e82;
    font-weight: 400;
    font-size: 16px;
  }
}
.container {
  padding: 0 16px;
}
// Содержимое свайпера

.brands-swiper {
  height: 120px;
  width: 100%;
  &::before {
    content: '';
    width: 24px;
    height: 80px;
    background-image: linear-gradient(to right, #f8f8f8, #f8f8f800);
    position: absolute;
    z-index: 3;
  }
  &::after {
    content: '';
    width: 24px;
    height: 80px;
    background-image: linear-gradient(to left, #f8f8f8, #f8f8f800);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
}
.swiper-wrapper {
  padding: 0px 16px;
}

.swiper-link {
  display: flex;
  align-items: center;
  width: 211px;
  height: 40px;
  justify-content: space-between;
  background-color: #fff;
  padding: 16px 16px;
  border-radius: 6px;
  box-shadow: inset 0 0 3px 1px #dddddd;
}

.swiper-img-icon {
  .swiper-img-icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/icon.svg);
  }
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
}

.menu {
  display: none;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 24px;
    height: 160px;
    overflow: hidden;
  }

  

  &__link {
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 16px;
    border-radius: 6px;
    box-shadow: inset 0 0 3px 1px #dddddd;
  }

 

  &__img-icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/icon.svg);
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 0px 9px;
    border: none;
    background-color: #f8f8f8;
    border-radius: 6px;
    cursor: pointer;
  }

  &__btn-icon {
    background-image: url(../images/icondown.svg);
    width: 24px;
    height: 24px;
  }

  &__btn-text {
    font-weight: 500;
  }
}
.menu__btn:hover {
  outline: 2px solid #d9fff5;
}
.menu__btn:active {
  outline: 2px solid #73e1c3;
}
.active {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 24px;
  height: auto;
}

@media (min-width: $screen-md) {
  .swiper-header {
    max-height: 56px;
  }
  .container {
    padding: 0 24px;
  }
  .menu {
    display: block;
  }
}

// @media (min-width:$screen-lg) {
//   .menu__list > .menu__item:nth-child(7) {
//     display: list-item;
//   }
//   .menu__list > .menu__item:nth-child(8) {
//     display: list-item;
//   }
// }
