// Хэдер свайпера
.swiper-header {
  min-width: 320px;
  max-height: 80px;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  margin-bottom: 16px;
  margin-top: 24px;

  &__line {
    background-color: #d9fff5;
    width: 100%;
    height: 2px;
  }

  &__inner {
    padding: 16px 0px;
  }

  &__text {
    text-transform: uppercase;
    color: $currentItemColor;
    font-weight: 400;
    font-size: 16px;
  }
}
.container {
  padding: 0 20px;
}
// Содержимое свайпера

.swiper {
  height: 120px;
  width: 100%;
  &::before {
    content: '';
    width: 24px;
    height: 80px;
    background-image: linear-gradient(to right, #f8f8f8, #f8f8f800);
    position: absolute;
    z-index: 3;
  }
  &::after {
    content: '';
    width: 24px;
    height: 80px;
    background-image: linear-gradient(to left, #f8f8f8, #f8f8f800);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
}
.swiper-wrapper {
  padding: 0px 16px;
}

.swiper-link {
  display: flex;
  align-items: center;
  width: 211px;
  height: 40px;
  justify-content: space-between;
  background-color: #fff;
  padding: 16px 16px;
  border-radius: 6px;
  box-shadow: inset 0 0 3px 1px #dddddd;
}
.swiper .swiper-slide {
  width: auto;
}

.swiper-img-icon {
  width: 40px;
  height: 40px;
  background-image: url(../images/icon.svg);
}

@media (min-width: $screen-md) {
  .swiper-header {
    max-height: 56px;
  }
  .container {
    padding: 0 20px;
  }
}
