.expand-btn {
  display: flex;
  align-items: center;
  width: 142px;
  height: 24px;
  margin-bottom: 16px;
  border-radius: 0;
  border: none;
  background-color: rgb(248, 248, 248);
  padding: 0px;
  border-radius: 6px;

  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../images/link-logo.svg);
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
  }

  &__text {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #1b1c21;
  }
}
.expand-btn:hover {
  outline: 2px solid #d9fff5;
}
.expand-btn:active {
  outline: 2px solid #73e1c3;
}
