.divider1,
.round-icon--contacts,
.round-icon--chat,
.round-icon--profile {
  display: none;
}
.divider {
  width: 2px;
  height: 32px;
  background-image: url(../images/divider.svg);
  margin: auto;
}
.divider2 {
  margin-right: 15px;
}
.shadow {
  width: 100%;
  height: 1px;
  background-color: #d9fff5;
  margin-bottom: 24px;
}

.header {
  &__container {
    padding: 0 20px;
    background-color: #fff;
  }

  &__inner {
    display: flex;
    min-height: 88px;
    align-items: center;
    justify-content: space-between;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
  }
}
.header-btn {
  display: none;
  align-items: center;
  width: auto;
  height: 40px;
  background-color: rgb(248, 248, 248);
  border-radius: 0;
  gap: 10px;
}
.header-btn__text {
  font-size: 16px;
  font-weight: 500;
  color: #1b1c21;
  letter-spacing: -0.2px;
  line-height: 24px;
}
// .round-icon {
//   background-color: $btn-color;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   border: none;
//   margin-right: 5px;
//   &--menu {
//     background-image: url(../images/ic_burger.svg);
//   }

//   &--contacts {
//     background-image: url(../images/ic_call.svg);
//   }

//   &--chat {
//     background-image: url(../images/ic_chat.svg);
//   }

//   &--profile {
//     background-image: url(../images/ic_profile.svg);
//   }

//   &--request {
//     background-image: url(../images/ic_repair.svg);
//     margin-right: 16px;
//   }

//   &--status {
//     background-image: url(../images/ic_checkstatus.svg);
//   }
// }

.logo {
  margin-left: 16px;
  margin-right: auto;
  &__link {
    padding: 40px 0px 0px 0px;
  }
}

@media (min-width: $screen-md) {
  .round-icon--contacts,
  .round-icon--chat,
  .round-icon--profile {
    display: block;
    margin-right: 16px;
  }

  .divider {
    display: block;
    margin: 0 15px;
  }
  .round-icon--profile {
    margin-right: 0;
  }
  .round-icon--contacts {
    margin-left: 10px;
  }
  .logo {
    margin-right: auto;
    margin-left: 0;
  }
  .header__container {
    padding: 0 24px;
  }
}
@media (min-width: $screen-lg) {
  .header {
    display: none;
  }

  .header-btn {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    background-color: rgb(248, 248, 248);
    border: 0;
    gap: 10px;
  }

  .round-icon--contacts,
  .round-icon--chat,
  .round-icon--profile,
  .divider,
  .logo,
  .menu-burger {
    display: none;
  }
}
@media (min-width: $screen-xl) {
  .header {
    margin-left: 350px;
  }
}
