.header {
  background-color: #3498db;
  padding: 40px;

  &__logo {
    font-size: 32px;
    color: rgb(246, 38, 38);
  }

  &__nav {
    display: flex;
    gap: 60px;}

    &__item {
      color: rgb(19, 237, 142);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  
}
