.price-swiper {
  width: 100%;
  height: 250px;
}

.price-swiper .swiper-link {
  
}

.price-swiper .swiper-slide {
  width: auto; 
}

.service-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 260px;
  height: 200px;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 6px;
}
.service-title {
}
.service-desc {
}
.service-label {
}
.service-price {
}
.service-time {
}
.service-btn {
}
.arrow {
}
