.price-menu {
  display: none;
  padding: 16px 0px;

  
  &__table {
    width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;

  }

  &__t-head {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    background-color:#F8F8F8;
    
  }


  &__t-cell {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
  }
&__t-body{
  border-radius: 10px;
}
}
.active {
  overflow:visible;
  height: auto;
}
 @media(min-width:$screen-md){
  .price-menu{
    display: block;
  }
 }