


.round-icon {
  background-color: $btn-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  transition: transform 0.5s ease;

  &--menu {
    background-image: url(../images/ic_burger.svg);
  }

  &--contacts {
    background-image: url(../images/ic_call.svg);
  }

  &--chat {
    background-image: url(../images/ic_chat.svg);
  }

  &--profile {
    background-image: url(../images/ic_profile.svg);
  }

  &--request {
    background-image: url(../images/ic_repair.svg);
    margin-right: 16px;
  }

  &--status {
    background-image: url(../images/ic_checkstatus.svg);
  }
  &--close{
    background-image: url(../images/menu.svg);
  }

}
.round-icon:hover {
  transform: scale(1.2);
}

.round-icon:active{
  transform: translateY(2px); 
}