@import './blocks/header.scss';

// $bgColor: #f8f8f8;
// $text: #1b1c21;

// body {
//   margin: 0;
//   padding: 0;
//   background-color: $bgColor;
//   font-family: TT Lakes, sans-serif;
//   font-size: 16px;
//   letter-spacing: -0.2px;
//   line-height: 24px;
//   color: $text;
// }
// html {
//   box-sizing: border-box;
// }
// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }
// ul,
// li {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }
// a {
//   text-decoration: none;
//   color: #1b1c21;
// }
// @font-face {
//   font-family: TT Lakes;
//   src: url(./fonts/TTLakes-Regular.woff) format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: TT Lakes;
//   src: url(./fonts/TTLakes-Medium.woff) format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: TT Lakes;
//   src: url(./fonts/TTLakes-Bold.woff) format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
