@import './variables.scss';
@import './normalize.scss';
@import './base.scss';
@import './blocks/fixed-block.scss';
@import './blocks/header.scss';
@import './blocks/main.scss';
@import './blocks/brandSwiper.scss';
@import './blocks/brandSwiperMenu.scss';
@import './blocks/repairMenu.scss';
@import './blocks/repairSwiper.scss';
@import './blocks/PriceSwiper.scss';
@import './blocks/priceMenu.scss';
@import './blocks/swipersPagination.scss';
@import './blocks/serviceCard.scss';
@import './blocks/serviceBtn.scss';
@import './blocks/information.scss';
@import './blocks/footer.scss';
@import './blocks/round-icon.scss';
@import './blocks/expandBtn.scss';

