$text-color: #1b1c21;
$btn-color:#FF3E79;
$currentItemColor:#7e7e82;
$outlineColor:#B8FFEC;
$highLightColor:#41F6D7;
$font-family: TT Lakes, sans-serif;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-xl: 1440px;
